.nova {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover
}

.n-dashboard {
  background-image: url("dashboard.svg");
}

.n-documents {
  background-image: url("documents.svg");
}

.n-schedule {
  background-image: url("./schedule/icon.svg");
}

.n-company {
  background-image: url("company.svg");
}

.n-analytics {
  background-image: url("analytics.svg");
}

