<p-dialog
  (onHide)="closed()"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  header="Edit Profile">
  <ng-template pTemplate="header">
    <app-title icon-src="assets/icon/file-search.svg"
               title="Consultar folio"
               background="bg-gray-100"/>
  </ng-template>
  <form (ngSubmit)="search()" [formGroup]="form" type="post">
    <div class="field">
      <input class="w-full" formControlName="folio" id="folio" pInputText type="text">
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button (click)="closed()" label="Cancelar" severity="secondary" type="button"></p-button>
      <p-button [disabled]="!form.valid" label="Consultar" type="submit"></p-button>
    </div>
  </form>
</p-dialog>
